@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.home {
  min-height: 100vh;
  min-width: 100vw;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table tr td {
  font-size: 8vw;
  padding: 10px 30px;
  border: 1px solid #2196f3;
  margin: 0;
  cursor: pointer;
  height: 150px;
  width: 150px;
  text-align: center;
}

.bt_0 {
  border-top: 0;
}
.bb_0 {
  border-bottom: 0;
}
.bl_0 {
  border-left: 0;
}
.br_0 {
  border-right: 0;
}

.btn{
  padding: 3px 20px;
  font-size: 2vw;
  margin: 21px;
  outline: none;
  background: gold;
  border-radius: 5px;
  border: none;
}